<% if @parcel.new_record? %>
  <% path = parcels_path %>
<% else %>
  <% path = parcel_path(@parcel) %>
<% end %>

<%= form_for(@parcel, url: path, html: {:class => "form-horizontal center"}) do |f| %>
  <% if @parcel.errors.any? %>
    <ul>
    <% @parcel.errors.full_messages.each do |message| %>
      <li class="error-message"><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="card container">
    <div class="card-body">

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Weight", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.text_field :weight, class: 'form-control', autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Volume", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.text_field :volume, class: 'form-control', autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Source", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.select(:source, ['A', 'B', 'C'], {}, {class: 'form-control', autofocus: true, required: true}) %>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Destination", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.select(:destination, ['A', 'B', 'C'], {}, {class: 'form-control', autofocus: true, required: true}) %>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Status", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.text_field :status, class: 'form-control', autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Cost", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.text_field :cost, class: 'form-control', autofocus: true, required: true %>
          </div>
        </div>
      </div>
      <%= f.submit 'submit', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

