<%= form_for(@parcel, html: {:class => "form-horizontal center"}) do |f| %>
  <% if @parcel.errors.any? %>
    <ul>
    <% @parcel.errors.full_messages.each do |message| %>
      <li class="error-message"><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="card container">
    <div class="card-body">
      <%= f.hidden_field :parcel_owner_id, value: (f.object.parcel_owner_id || current_user.id) %>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Weight", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.text_field :weight, class: 'form-control', autofocus: true %> in kg
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Volume", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.text_field :volume, class: 'form-control', autofocus: true, required: true %> in m3
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Source", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.select(:source, Train::STATIONS, {}, {class: 'form-control', autofocus: true, required: true}) %>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Destination", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.select(:destination, Train::STATIONS, {}, {class: 'form-control', autofocus: true, required: true}) %>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Status", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.select :status, Parcel.statuses.keys, {}, {class: 'form-control', disabled: true, autofocus: true, required: true, include_blank: false} %>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Cost", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.text_field :cost, class: 'form-control', autofocus: true, required: true, readonly: true %>in rupees
          </div>
        </div>
      </div>
      <%= f.submit 'submit', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
