<p id="notice"><%= notice %></p>

<h1>Parcels</h1>

<table>
  <thead>
    <tr>
      <th>Weight</th>
      <th>Volume</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Status</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= parcel.weight %></td>
        <td><%= parcel.volume %></td>
        <td><%= parcel.source %></td>
        <td><%= parcel.destination %></td>
        <td><%= parcel.status %></td>
        <td><%= parcel.cost %></td>
        <td><%= link_to 'Show', parcel %></td>
        <td><%= link_to 'Edit', edit_parcel_path(parcel) %></td>
        <td><%= link_to 'Destroy', parcel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parcel', new_parcel_path %>
