<div class="row">
  <div class="col-md-10">
    <h2>Parcels</h2>
  </div>
  <div class="col-md-2 mt-2">
    <%# if current_user.parcel_owner? %>
      <%#= link_to 'Edit Parcels', edit_parcel_path(@parcel), class: "btn btn-primary" %>
    <%# end %>
    <%= link_to 'Back', parcels_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th scope="col">Weight</th>
      <td><%= @parcel.weight %></td>
    </tr>
    <tr>
      <th scope="col">Volume</th>
      <td><%= @parcel.volume %></td>
    </tr>
    <tr>
      <th scope="col">Source</th>
      <td><%= @parcel.source %></td>
    </tr>
    <tr>
      <th scope="col">Destination</th>
      <td><%= @parcel.destination %></td>
    </tr>
    <tr>
      <th scope="col">Status</th>
      <td><%= @parcel.status %></td>
    </tr>
    <tr>
      <th scope="col">Cost</th>
      <td><%= @parcel.cost %></td>
    </tr>
  </table>
</div>
