<%= form_for(@train_booking, html: {:class => "form-horizontal center"}) do |f| %>
  <% if @train_booking.errors.any? %>
    <ul>
    <% @train_booking.errors.full_messages.each do |message| %>
      <li class="error-message"><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="card container">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
            <tr>
              <th scope="col">Parcels Count</th>
              <td><%= @parcels.count %></td>
            </tr>
            <tr>
              <th scope="col">Parcels Total Weight</th>
              <td><%= @parcels.sum(:weight) %></td>
            </tr>
            <tr>
              <th scope="col">Parcels Total Volume</th>
              <td><%= @parcels.sum(:volume) %></td>
            </tr>
            <tr>
              <th scope="col">Parcels Total Cost</th>
              <td><%= @parcels.sum(:cost) %></td>
            </tr>
        </table>
      </div>
      <%= render "trains", f: f %>
    </div>
  </div>
<% end %>
