<% path = @train_booking.new_record? ? train_bookings_path : train_booking_path(@train_booking) %>

<%= form_for(@train_booking, url: path, html: {:class => "form-horizontal center"}) do |f| %>
  <% if @train_booking.errors.any? %>
    <ul>
    <% @train_booking.errors.full_messages.each do |message| %>
      <li class="error-message"><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="card container">
    <div class="card-body">
      <%= f.hidden_field :post_master_id, value: current_user.id %>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Train", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.select :train_id, get_trains, {}, {class: 'form-control', autofocus: true, required: true} %>
            <%#byebug%>
            <%#= f.select :train, Train.available_for_parcels(params[:parcels]), class: 'form-control', autofocus: true, required: true %>
            <%# f.hidden_field :parcels, value: params[:parcels] %>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "parcels", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.select :parcels, options_for_select(["Asst", "dir", "pres"]), {}, {multiple: true, class: 'form-control', autofocus: true, required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Status", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.select :status, TrainBooking.statuses.keys, {}, {class: 'form-control', autofocus: true, required: true, include_blank: false} %>
          </div>
        </div>
      </div>
      <%= f.submit 'submit', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
