<div class="row">
  <div class="col-md-10">
    <h2>Train Bookings</h2>
  </div>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Departure Time</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Status</th>
        <!-- <th scope="col" colspan="3">Actions</th> -->
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @train_bookings.each do |train_booking| %>
        <tr>
          <td scope="row"><%= train_booking.departure_time.strftime("%T, %d/%m/%Y, %A ") %></td>
          <td><%= train_booking.arrival_time.strftime("%T, %d/%m/%Y, %A ") %></td>
          <td><%= train_booking.train.source %></td>
          <td><%= train_booking.train.destination %></td>
          <td><%= train_booking.status %></td>
          <td><%= link_to 'Show', train_booking, class: "btn btn-sm btn-primary" %></td>
          <!-- <td><%#= link_to 'Edit', edit_train_booking_path(train_booking), class: "btn btn-sm btn-primary" %></td> -->
          <!-- <td><%#= link_to 'Destroy', train_booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary" %></td> -->
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

<div class="pagination justify-content-center">
  <%= paginate @train_bookings %>
</div>
