<div class="row">
  <div class="col-md-10">
    <h2>Booking</h2>
  </div>
  <div class="col-md-2 mt-2">
    <%= link_to 'Back', train_bookings_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th scope="col">Departure Time</th>
      <td><%= @train_booking.departure_time %></td>
    </tr>
    <tr>
      <th scope="col">Arrival Time</th>
      <td><%= @train_booking.arrival_time %></td>
    </tr>
    <tr>
      <th scope="col">Source</th>
      <td><%= @train_booking.train.source %></td>
    </tr>
    <tr>
      <th scope="col">Destination</th>
      <td><%= @train_booking.train.destination %></td>
    </tr>
    <tr>
      <th scope="col">Status</th>
      <td><%= @train_booking.status %></td>
    </tr>
  </table>
</div>
