<%= form_for(@train, html: {:class => "form-horizontal center"}, data: { turbo: false }) do |f| %>
<% if @train.errors.any? %>
      <ul>
    <% @train.errors.full_messages.each do |message| %>
      <li class="error-message"><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="card container">
    <div class="card-body">
      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Name", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.text_field :name, class: 'form-control', autofocus: true, required: true %>
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Source", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.select(:source, Train::STATIONS, {}, {class: 'form-control', autofocus: true})%>
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Destination", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.select(:destination, Train::STATIONS, {}, {class: 'form-control', autofocus: true}) %>
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Weight Capacity", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.number_field :weight_capacity, class: 'form-control', autofocus: true, required: true %> in kg
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Volume Capacity", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.number_field :volume_capacity, class: 'form-control', autofocus: true, required: true %> in m3
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <div class="row">
          <%= f.label "Cost", class: 'control-label col-lg-2' %>
          <div class="col-lg-8">
            <%= f.number_field :cost, class: 'form-control', autofocus: true, required: true %> in rupees
          </div>
        </div>
      </div>
      <%= f.submit 'submit', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
