<div class="row">
  <div class="col-md-10">
    <h2>Trains</h2>
  </div>
  <div class="col-md-2 mt-2">
    <%= link_to 'New Train', new_train_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Weight Capacity</th>
        <th scope="col">Volume Capacity</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Status</th>
        <th scope="col">Cost</th>
        <th scope="col" colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @trains.each do |train| %>
        <tr>
          <td><%= train.name %></td>
          <td scope="row"><%= train.weight_capacity %> kg</td>
          <td><%= train.volume_capacity %>m3</td>
          <td><%= train.source %></td>
          <td><%= train.destination %></td>
          <td><%= train.status %></td>
          <td><%= train.cost %>/-</td>
          <td>
            <%= link_to 'Show', train, class: "btn btn-sm btn-primary" %>
            <%= link_to 'Edit', edit_train_path(train), class: "btn btn-sm btn-primary" %>
            <%= link_to 'Destroy', train, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
